/* File: avc-examples-shd3/src/main/www/css/detail.css */

table.detail th {
	text-align: left;
	white-space: nowrap;
}
table.detail td {
	padding-bottom: 1em;
}

hr {
	margin: 1em 0;
}

table.detail {
	width: 100%;
}
table.detail tbody.text input,
table.detail tbody.int input,
table.detail tbody.dateTime input {
	font-size: 14px;
	x-border: 2px inset #f00;
}
table.detail tbody.text input {
	width: 100%;
}
table.detail tbody.int input {
	width: 4em;
}
table.detail tbody.dateTime input {
	width: 12em;
}
table.detail tbody.disabled input {
	background-color: #f0f0f0;
	border: 3px solid transparent;
}
table.detail ul {
	margin: 0;
}
table.detail span.empty {
	background-color: #eee;
	color: #999;
}
table.detail div.rawContent {
	white-space: pre;
	border: 1px solid #999;
	font-size: 10px;
	padding: 1em;
	font-family: Monaco, 'Courier New', monospace;
}
table.detail textarea {
	border: 1px solid #999;
	font-size: 10px;
	padding: 1em;
	font-family: Monaco, 'Courier New', monospace;
	width: 100%;
	height: 20em;
}

div.delete {
	border: 0.6em solid #900;
	padding: 1em;
	background-color: #fee;
	border-radius: 1.0em;
	margin: 0 auto 2em;
}
div.delete table.detail th,
div.delete table.detail td {
	font-size: 50%;
}

table._layout.nav {
	width: 100%;
	font-size: 14px;
}
table._layout.nav td {
	white-space: nowrap;
	vertical-align: top;
	padding: 0;
}
table._layout.nav td._right {
	text-align: right;
}