/* File: avc-examples-shd3/src/main/www/css/general.css */

@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff;
	position: relative;
	font-size: 14px;
}
a {
	color: #009;
	text-decoration: none;
}
table {
	border-collapse: collapse;
}

[v-cloak] {
    display: none;
}

.hidden {
    display: none;
}

body.rightFrame,
body.middleFrame {
	margin: 0;
}

#div-body {
	margin: 8px;
}

body.rightFrame #div-app-title,
body.middleFrame #div-app-title {
	right: 1em;
	top: 0.15em;
	font-size: 24px;
}

#div-content {
	margin: 0;
}
#div-body.standalone {
	margin: 0;
}
#div-body.standalone #div-header {
	padding: 8px;
	background-color: #000;
	color: #fff;
	border-bottom: 4px inset #ccc;
}
body.rightFrame #div-body.standalone #div-content {
	padding: 8px;
	min-width: 400px;
	display: table;
	margin: auto;
}
body.middleFrame #div-body.standalone #div-content {
	padding: 8px;
}

#table-header {
	font-family: Monaco, 'Courier New', monospace;
	font-size: 10px;
	color: #fff;
}
#table-header th {
	text-align: left;
	font-weight: bold;
	padding: 0 0.4em 0 0;
}
#table-header td {
	padding: 0;
}
#table-header input.text,
#table-header input.password {
	width: 40em;
	background-color: #666;
	border: 1px solid #000;
	color: #fff;
	font-family: Monaco, 'Courier New', monospace;
	font-size: 10px;
	padding: 0.2em 0.6em;
}

#div-app-title {
	position: absolute;
	font-family: 'Varela Round';
}
#div-app-title,
#div-app-title a {
	color: #bbb;
}

div.flashMessage {
	margin: 0 -8px 2em;
	padding: 8px;
	position: fixed;
	top: -5em;
	left: 0;
	opacity: 0;
	width: 100%;
}
div.flashMessage div {
	padding: 1em;
	background-color: #eee;
	color: #999;
	text-align: left;
	margin: 0;
}
div.flashMessage.error div {
	background-color: #fdd;
	color: #966;
}
div.flashMessage.success div {
	background-color: #dfd;
	color: #696;
}

span.sha256 {
	font-family: Monaco, 'Courier New', monospace;
	font-size: 10px;
	color: #666;
	background-color: #eee;
	x-display: block;
	padding: 0.2em 0.6em;
	margin: 0.6em 0 0 -0.6em;
}