/* File: avc-examples-shd3/src/main/www/css/list.css */

table.query {
	width: 100%;
	font-size: 14px;
}
table.query td.label {
	white-space: nowrap;
}
table.query tr.q td.label {
	padding-right: 0.3em;
}
table.query tr.q td {
	vertical-align: top;
}
table.query tr.q td.textarea {
	width: 100%;
}
table.query tr.q textarea {
	width: 100%;
	height: 4em;
	border: 1px solid #ccc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-top: -1px;
}
table.query input.sortBy {
	font-size: 14px;
}
table.query input.start,
table.query input.limit {
	width: 3em;
}
table.query input.text {
	margin-right: 2em;
	margin-bottom: -1px;
	border: 1px solid #ccc;
	font-size: 14px;
}
table.query input.submit {
	font-size: 14px;
}

div.empty {
	margin: 2em 0 2em;
	padding: 1em;
	background-color: #eee;
	color: #999;
}
table.results {
	width: 100%;
	margin: 2em 0 2em;
	font-size: 10px;
}
table.results caption {
	text-align: left;
	margin: 0 0 1em;
	font-size: 14px;
}

caption ul.nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
}
caption ul.nav li {
	display: inline;
	padding: 0;
	margin: 0 1.0em 0 0;
}
caption div {
	text-align: right;
}

table.results thead {
	background-color: #e8e8e8;
}
table.results tr {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
table.results tbody tr {
	background-color: #eef;
}
table.results tr.odd {
	x-background-color: #eef;
}
table.results td {
	padding: 0;
	vertical-align: top;
}
table.results th,
table.results td a {
	padding: 1px 4px;
}
table.results th._first,
table.results td._first a {
	padding-left: 8px;
}
table.results th._last,
table.results td._last a {
	padding-right: 8px;
}
table.results th {
	text-align: left;
	white-space: nowrap;
}
table.results td.dateTimeHolder,
table.results td.status {
	white-space: nowrap;
}
table.results th.revision,
table.results td.revision a,
table.results th.count,
table.results td.count a,
table.results th.payloadByteCount,
table.results td.payloadByteCount a,
table.results th.implementationVersion,
table.results td.implementationVersion a,
table.results th.indexPlusOne,
table.results td.indexPlusOne a,
table.results th.blockNumber,
table.results td.blockNumber a {
	text-align: right;
}
table.results tbody tr:hover {
	background-color: #ddf;
}
table.results td a {
	display: block;
}
table.results ul {
	padding: 0 0 0 1.4em;
	margin: 0;
}
