/* File: avc-examples-shd3/src/main/www/css/menu.css */

body {
	margin: 0;
}
table {
	width: 100%;
}
th {
	text-align: left;
	font-weight: normal;
	padding: 0.2em 0.4em;
}
td {
	text-align: right;
	padding: 0.2em 0.4em;
}
tr {
	background-color: #eef;
	border: 2px solid #fff;
}
tr.error td {
	background-color: #900;
	color: #fff;
}
tr.error td a {
	color: #fff;
}
tr.success td {
	background-color: #eef;
}
tr td {
	background-color: #ddd;
}
