<!DOCTYPE html>
<!-- avc-examples-shd3:/frames/middle/sessions.html -->
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Sessions</title>
<link rel="stylesheet" type="text/css" href="../../css/general.css">
<link rel="stylesheet" type="text/css" href="../../css/list.css">
<script src="../../lib/js.cookie-2.2.0.js"></script>
<script src="../../lib/jquery-3.3.1.min.js"></script>
<script src="../../lib/vue-2.6.10.min.js"></script>
<script type="text/javascript">

	const PAGE_ID = 'sessions';
	const BASE_HREF = '../../';

</script>
</head>
<body id="body-sessions" class="middleFrame sessions" onload="set_url_fragment('#sessions')">

<div id="div-body" v-cloak v-bind:class="{ standalone: is_standalone }">

<div-header></div-header>

<div id="div-content">

<h1>
	Sessions
</h1>

<form action="./sessions.html" method="POST" v-on:submit.prevent="do_query">
<table class="query">
<tr class="q">
	<td class="label">
		<label for="text-sessions-query">Query</label>
	</td>
	<td class="textarea">
		<textarea id="text-sessions-query" v-model="page.q"></textarea>
	</td>
</tr>
<tr>
	<td class="label">
		<label for="text-sessions-sort">Sort by</label>
	</td>
	<td>
		<input id="text-sessions-sort" type="text" class="text sort" v-model="page.sort">
		<label for="text-sessions-start">Start</label>
		<input id="text-sessions-start" type="text" class="text start" v-model="page.start">
		<label for="text-sessions-limit">Limit</label>
		<input id="text-sessions-limit" type="text" class="text limit" v-model="page.limit">
		<input id="submit-query" type="submit" class="submit" value="Search">
	</td>
</tr>
</table>
</form>

<div v-if="sessions === null || sessions.total === 0" class="empty">

	{{ format_resultCount(0, total) }}
	
</div> <!-- end of: div.empty -->
<table v-else class="results">
<caption>
		
	<ul class="nav">
	<li class="start">
		<a v-bind:href="href_first_page" v-if="has_prev_page"
				v-on:click="goto_first_page">
			START
		</a>
		<span v-else>
			START
		</span>
	<li class="prev">
		<a v-bind:href="href_prev_page" v-if="has_prev_page"
				v-on:click="goto_prev_page">
			PREV
		</a>
		<span v-else>
			PREV
		</span>
	<li class="pageNumber">
		PAGE {{ page_number }}/{{ page_count }}
	<li class="next">
		<a v-bind:href="href_next_page" v-if="has_next_page"
				v-on:click="goto_next_page">
			NEXT
		</a>
		<span v-else>
			NEXT
		</span>
	<li class="last">
		<a v-bind:href="href_last_page" v-if="has_next_page"
				v-on:click="goto_last_page">
			LAST
		</a>
		<span v-else>
			LAST
		</span>
	</ul>
		
	<div class="resultCount">
		{{ format_resultCount(sessions.total, total) }}
	</div> <!-- end of: div.resultCount -->

</caption>
<thead>
<tr>
	<th class="username _first">
		<a v-bind:href="href_sort_by('username')"
				v-on:click="sort_by('username')">
			Username
		</a>
	</th>
	<th class="userSessionId">
		<a v-bind:href="href_sort_by('userSessionId')"
				v-on:click="sort_by('userSessionId')">
			Session ID
		</a>
	</th>
	<th class="createdAt">
		<a v-bind:href="href_sort_by('createdAt')"
				v-on:click="sort_by('createdAt')">
			Created at
		</a>
	</th>
	<th class="updatedAt">
		<a v-bind:href="href_sort_by('updatedAt')"
				v-on:click="sort_by('updatedAt')">
			Updated at
		</a>
	</th>
	<th class="expiresAt">
		<a v-bind:href="href_sort_by('expiresAt')"
				v-on:click="sort_by('expiresAt')">
			Expires at
		</a>
	</th>
	<th class="expiredAt _last">
		<a v-bind:href="href_sort_by('expiredAt')"
				v-on:click="sort_by('expiredAt')">
			Expired at
		</a>
	</th>
</tr>
</thead>
<tbody>
<tr v-for="(s, index) in sessions.results" v-bind:class="tr_result_class(index)">
	<td class="username _first">
		<a v-bind:href="href_session(s.userSessionId)" target="rightFrame">
			{{ s.username }}
		</a>
	</td>
	<td class="userSessionId">
		<a v-bind:href="href_session(s.userSessionId)" target="rightFrame">
			{{ s.userSessionId }}
		</a>
	</td>
	<td class="createdAt dateTimeHolder">
		<a v-bind:href="href_session(s.userSessionId)" target="rightFrame">
			{{ format_dateTimeHolder(s.createdAt) }}
		</a>
	</td>
	<td class="updatedAt dateTimeHolder">
		<a v-bind:href="href_session(s.userSessionId)" target="rightFrame">
			{{ format_dateTimeHolder(s.updatedAt) }}
		</a>
	</td>
	<td class="expiresAt dateTimeHolder">
		<a v-bind:href="href_session(s.userSessionId)" target="rightFrame">
			{{ format_dateTimeHolder(s.expiresAt) }}
		</a>
	</td>
	<td class="expiredAt dateTimeHolder _last">
		<a v-bind:href="href_session(s.userSessionId)" target="rightFrame">
			{{ format_dateTimeHolder(s.expiredAt) }}
		</a>
	</td>
</tr>
</tbody>
</table>

<div class="sqlWhereClause">
	<h3>SQL “WHERE” clause</h3>
	<template v-if="!sessions || !sessions.sqlWhereClause">
		(empty)
	</template>
	<template v-else>
		{{ sessions.sqlWhereClause }}
	</template>
</div> <!-- end of: div.sqlWhereClause -->

</div> <!-- end of: #div-content -->
</div> <!-- end of: #div-body -->

<script src="../../js/framework.js"></script>
<script src="../../js/sessions.js"></script>

</body>
</html>
