<!DOCTYPE html>
<!-- avc-examples-shd3:/frames/middle/users.html -->
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Users</title>
<link rel="stylesheet" type="text/css" href="../../css/general.css">
<link rel="stylesheet" type="text/css" href="../../css/list.css">
<script src="../../lib/js.cookie-2.2.0.js"></script>
<script src="../../lib/jquery-3.3.1.min.js"></script>
<script src="../../lib/vue-2.6.10.min.js"></script>
<script type="text/javascript">

	const PAGE_ID = 'users';
	const BASE_HREF = '../../';

</script>
</head>
<body id="body-users" class="middleFrame users" onload="set_url_fragment('#users')">

<div id="div-body" v-cloak v-bind:class="{ standalone: is_standalone }">

<div-header></div-header>

<div id="div-content">

<h1>
	Users
</h1>

<form action="./users.html" method="POST" v-on:submit.prevent="do_query">
<table class="query">
<tr class="q">
	<td class="label">
		<label for="text-users-query">Query</label>
	</td>
	<td class="textarea">
		<textarea id="text-users-query" v-model="page.q"></textarea>
	</td>
</tr>
<tr>
	<td class="label">
		<label for="text-users-sort">Sort by</label>
	</td>
	<td>
		<input id="text-users-sort" type="text" class="text sort" v-model="page.sort">
		<label for="text-users-start">Start</label>
		<input id="text-users-start" type="text" class="text start" v-model="page.start">
		<label for="text-users-limit">Limit</label>
		<input id="text-users-limit" type="text" class="text limit" v-model="page.limit">
		<input id="submit-query" type="submit" class="submit" value="Search">
	</td>
</tr>
</table>
</form>

<div v-if="users === null || users.total === 0" class="empty">

	{{ format_resultCount(0, total) }}
	
</div> <!-- end of: div.empty -->
<table v-else class="results">
<caption>
		
	<ul class="nav">
	<li class="start">
		<a v-bind:href="href_first_page" v-if="has_prev_page"
				v-on:click="goto_first_page">
			START
		</a>
		<span v-else>
			START
		</span>
	<li class="prev">
		<a v-bind:href="href_prev_page" v-if="has_prev_page"
				v-on:click="goto_prev_page">
			PREV
		</a>
		<span v-else>
			PREV
		</span>
	<li class="pageNumber">
		PAGE {{ page_number }}/{{ page_count }}
	<li class="next">
		<a v-bind:href="href_next_page" v-if="has_next_page"
				v-on:click="goto_next_page">
			NEXT
		</a>
		<span v-else>
			NEXT
		</span>
	<li class="last">
		<a v-bind:href="href_last_page" v-if="has_next_page"
				v-on:click="goto_last_page">
			LAST
		</a>
		<span v-else>
			LAST
		</span>
	</ul>
		
	<div class="resultCount">
		{{ format_resultCount(users.total, total) }}
	</div> <!-- end of: div.resultCount -->

</caption>
<thead>
<tr>
	<th class="username _first">
		<a v-bind:href="href_sort_by('username')"
				v-on:click="sort_by('username')">
			Username
		</a>
	</th>
	<th class="role">
		<a v-bind:href="href_sort_by('role')"
				v-on:click="sort_by('role')">
			Role
		</a>
	</th>
	<th class="enabled">
		<a v-bind:href="href_sort_by('enabled')"
				v-on:click="sort_by('enabled')">
			Enabled
		</a>
	</th>
	<th class="createdAt">
		<a v-bind:href="href_sort_by('createdAt')"
				v-on:click="sort_by('createdAt')">
			Created at
		</a>
	</th>
	<th class="updatedAt">
		<a v-bind:href="href_sort_by('updatedAt')"
				v-on:click="sort_by('updatedAt')">
			Updated at
		</a>
	</th>
	<th class="lastActiveAt">
		<a v-bind:href="href_sort_by('lastActiveAt')"
				v-on:click="sort_by('lastActiveAt')">
			Last active at
		</a>
	</th>
	<th class="revision _last">
		<a v-bind:href="href_sort_by('revision')"
				v-on:click="sort_by('revision')">
			Revision
		</a>
	</th>
</tr>
</thead>
<tbody>
<tr v-for="(u, index) in users.results" v-bind:class="tr_result_class(index)">
	<td class="username _first">
		<a v-bind:href="href_user(u.username)" target="rightFrame">
			{{ u.username }}
		</a>
	</td>
	<td class="role">
		<a v-bind:href="href_user(u.username)" target="rightFrame">
			{{ u.role }}
		</a>
	</td>
	<td class="enabled">
		<a v-bind:href="href_user(u.username)" target="rightFrame">
			{{ u.enabled }}
		</a>
	</td>
	<td class="createdAt dateTimeHolder">
		<a v-bind:href="href_user(u.username)" target="rightFrame">
			{{ format_dateTimeHolder(u.createdAt) }}
		</a>
	</td>
	<td class="updatedAt dateTimeHolder">
		<a v-bind:href="href_user(u.username)" target="rightFrame">
			{{ format_dateTimeHolder(u.updatedAt) }}
		</a>
	</td>
	<td class="lastActiveAt dateTimeHolder">
		<a v-bind:href="href_user(u.username)" target="rightFrame">
			{{ u.lastActiveAt ? format_dateTimeHolder(u.lastActiveAt) : 'N/A' }}
		</a>
	</td>
	<td class="revision _last">
		<a v-bind:href="href_user(u.username)" target="rightFrame">
			{{ u.revision }}
		</a>
	</td>
</tr>
</tbody>
</table>

<a href="../right/user_create.html" target="rightFrame" class="link_create">
	Add a new user…
</a>

<div class="sqlWhereClause">
	<h3>SQL “WHERE” clause</h3>
	<template v-if="!users || !users.sqlWhereClause">
		(empty)
	</template>
	<template v-else>
		{{ users.sqlWhereClause }}
	</template>
</div> <!-- end of: div.sqlWhereClause -->

</div> <!-- end of: #div-content -->
</div> <!-- end of: #div-body -->

<script src="../../js/framework.js"></script>
<script src="../../js/users.js"></script>

</body>
</html>
