<!DOCTYPE html>
<!-- avc-examples-shd3:/frames/right/session_show.html -->
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Session</title>
<link rel="stylesheet" type="text/css" href="../../css/general.css">
<link rel="stylesheet" type="text/css" href="../../css/detail.css">
<script src="../../lib/js.cookie-2.2.0.js"></script>
<script src="../../lib/jquery-3.3.1.min.js"></script>
<script src="../../lib/vue-2.6.10.min.js"></script>
<script type="text/javascript">

	const PAGE_ID = 'session_show';
	const BASE_HREF = '../../';

</script>
</head>
<body id="body-session-show" class="detailFrame session show" onhashchange="update_hash()">

<div id="div-body" v-cloak v-bind:class="{ standalone: is_standalone }">

<div-header></div-header>

<div id="div-content">

<h1>
	Session
</h1>

<table class="detail">
<tbody class="username">
<tr class="label">
	<th>Username</th>
</tr>
<tr class="value">
	<td>{{ session.username }}</td>
</tr>
</tbody>
<tbody class="userSessionId">
<tr class="label">
	<th>Session ID</th>
</tr>
<tr class="value">
	<td>{{ session.userSessionId }}</td>
</tr>
</tbody>
<tbody class="createdAt">
<tr class="label">
	<th>Created at</th>
</tr>
<tr class="value">
	<td>{{ format_dateTimeHolder(session.createdAt) }}</td>
</tr>
</tbody>
<tbody class="updatedAt">
<tr class="label">
	<th>Updated at</th>
</tr>
<tr class="value">
	<td>{{ format_dateTimeHolder(session.updatedAt) }}</td>
</tr>
</tbody>
<tbody class="expiresAt">
<tr class="label">
	<th>Expires at</th>
</tr>
<tr class="value">
	<td>{{ format_dateTimeHolder(session.expiresAt) }}</td>
</tr>
</tbody>
<tbody class="expiredAt">
<tr class="label">
	<th>Expired at</th>
</tr>
<tr class="value">
	<td>
	<template v-if="session.expiredAt">
		{{ format_dateTimeHolder(session.expiredAt) }}
	</template>
	<template v-else>
		N/A
	</template>
	</td>
</tr>
</tbody>
</table>

<hr>

<table class="_layout nav" v-if="!session.expiredAt">
<tbody>
<tr>
<td class="_right">

	<a v-bind:href="'session_terminate.html#user_session_id=' + session.userSessionId" class="link_terminate">
		Terminate this session…
	</a>

</td>
</tr>
</tbody>
</table>

</div> <!-- end of: #div-content -->
</div> <!-- end of: #div-body -->

<script src="../../js/framework.js"></script>
<script src="../../js/session_show.js"></script>

</body>
</html>
