<!DOCTYPE html>
<!-- avc-examples-shd3:/frames/right/user_create.html -->
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Create a new user</title>
<link rel="stylesheet" type="text/css" href="../../css/general.css">
<link rel="stylesheet" type="text/css" href="../../css/detail.css">
<script src="../../lib/js.cookie-2.2.0.js"></script>
<script src="../../lib/jquery-3.3.1.min.js"></script>
<script src="../../lib/vue-2.6.10.min.js"></script>
<script type="text/javascript">

	const PAGE_ID = 'user_create';
	const BASE_HREF = '../../';

</script>
</head>
<body id="body-user-create" class="detailFrame user create">

<div id="div-body" v-cloak v-bind:class="{ standalone: is_standalone }">

<div-header></div-header>

<div id="div-content">

<h1>
	Create a new user
</h1>

<form action="./user_create.html" method="POST" v-on:submit.prevent="do_create_user">

<table class="detail">
<tbody class="username text">
<tr class="label">
	<th>
		<label for="text-username">Username</label>
	</th>
</tr>
<tr class="value">
	<td>
		<input type="text" id="text-username" v-model="username">
	</td>
</tr>
</tbody>
<tbody class="role text">
<tr class="label">
	<th>
		<label for="select-role">Role</label>
	</th>
</tr>
<tr class="value">
	<td>
		<select id="select-role" v-model="role">
		<option v-for="role in roles" v-bind:value="role">
			{{ role }}
		</option>
		</select>
	</td>
</tr>
</tbody>
<tbody class="password text">
<tr class="label">
	<th>
		<label for="text-password">Password</label>
	</th>
</tr>
<tr class="value">
	<td>
		<input type="text" id="text-password" v-model="password">
	</td>
</tr>
</tbody>
<tbody class="enabled checkbox">
<tr class="label">
	<th>
		<label for="checkbox-enabled">Enabled</label>
	</th>
</tr>
<tr class="value">
	<td>
		<input type="checkbox" id="checkbox-enabled" v-model="enabled">
	</td>
</tr>
</tbody>
</table>

<input type="button" class="button cancel" id="cancel-create-user"
	v-on:click.prevent="do_cancel" value="Cancel">

<input type="submit" class="submit save" id="submit-create-user"
	value="Save">

</form>

</div> <!-- end of: #div-content -->
</div> <!-- end of: #div-body -->

<script src="../../js/framework.js"></script>
<script src="../../js/user_create.js"></script>

</body>
</html>
