<!DOCTYPE html>
<!-- avc-examples-shd3:/frames/right/user_show.html -->
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>User</title>
<link rel="stylesheet" type="text/css" href="../../css/general.css">
<link rel="stylesheet" type="text/css" href="../../css/detail.css">
<script src="../../lib/js.cookie-2.2.0.js"></script>
<script src="../../lib/jquery-3.3.1.min.js"></script>
<script src="../../lib/vue-2.6.10.min.js"></script>
<script type="text/javascript">

	const PAGE_ID = 'user_show';
	const BASE_HREF = '../../';

</script>
</head>
<body id="body-user-show" class="detailFrame user show" onhashchange="update_hash()">

<div id="div-body" v-cloak v-bind:class="{ standalone: is_standalone }">

<div-header></div-header>

<div id="div-content">

<h1>
	User
</h1>

<table class="detail">
<tbody class="username">
<tr class="label">
	<th>Username</th>
</tr>
<tr class="value">
	<td>{{ user.username }}</td>
</tr>
</tbody>
<tbody class="role">
<tr class="label">
	<th>Role</th>
</tr>
<tr class="value">
	<td>{{ user.role }}</td>
</tr>
</tbody>
<!--
<tbody class="preferredLang">
<tr class="label">
	<th>Preferred lang</th>
</tr>
<tr class="value">
	<td>{{ user.preferredLang ? user.preferredLang : 'N/A' }}</td>
</tr>
</tbody>
-->
<!--
<tbody class="preferredTimeZone">
<tr class="label">
	<th>Preferred timezone</th>
</tr>
<tr class="value">
	<td>{{ user.preferredTimeZone ? user.preferredTimeZone : 'N/A' }}</td>
</tr>
</tbody>
-->
<tbody class="enabled">
<tr class="label">
	<th>Enabled</th>
</tr>
<tr class="value">
	<td>{{ user.enabled }}</td>
</tr>
</tbody>
<tbody class="createdAt">
<tr class="label">
	<th>Created at</th>
</tr>
<tr class="value">
	<td>{{ format_dateTimeHolder(user.createdAt) }}</td>
</tr>
</tbody>
<tbody class="updatedAt">
<tr class="label">
	<th>Updated at</th>
</tr>
<tr class="value">
	<td>{{ format_dateTimeHolder(user.updatedAt) }}</td>
</tr>
</tbody>
<tbody class="lastActiveAt">
<tr class="label">
	<th>Last active at</th>
</tr>
<tr class="value">
	<td>{{ user.lastActiveAt ? format_dateTimeHolder(user.lastActiveAt) : 'N/A' }}</td>
</tr>
</tbody>
<tbody class="revision">
<tr class="label">
	<th>Revision</th>
</tr>
<tr class="value">
	<td>{{ user.revision }}</td>
</tr>
</tbody>
</table>

<hr>

<table class="_layout nav">
<tbody>
<tr>
<td class="_left">

	<a v-bind:href="'user_edit.html#username=' + user.username" class="link_edit">
		Edit this user…
	</a>

</td>
<td class="_right">

	<a v-bind:href="'user_delete.html#username=' + user.username" class="link_delete">
		Delete this user…
	</a>

</td>
</tr>
</tbody>
</table>

</div> <!-- end of: #div-content -->
</div> <!-- end of: #div-body -->

<script src="../../js/framework.js"></script>
<script src="../../js/user_show.js"></script>

</body>
</html>
