<!DOCTYPE html>
<!-- avc-examples-shd3:/frames/left/menu.html -->
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Menu</title>
<link rel="stylesheet" type="text/css" href="../../css/general.css">
<link rel="stylesheet" type="text/css" href="../../css/menu.css">
<script src="../../lib/js.cookie-2.2.0.js"></script>
<script src="../../lib/jquery-3.3.1.min.js"></script>
<script src="../../lib/vue-2.6.10.min.js"></script>
<script type="text/javascript">

	const PAGE_ID = 'menu';
	const BASE_HREF = '../../';

</script>
</head>
<body id="body-menu" class="leftFrame menu">

<div id="div-body" v-cloak>

<table>
<tbody>
<tr class="home">
	<th colspan="2">
		<a v-bind:href="href_entities('home')" target="middleFrame">
			Home
		</a>
	</th>
</tr>
<tr v-bind:class="entities_tr_class('users')">
	<th>
		<a v-bind:href="href_entities('users')" target="middleFrame">
			Users
		</a>
	</th>
	<td>
		<a v-bind:href="href_entities('users')" target="middleFrame">
			{{ ok_or_error(users.total, users.error) }}
		</a>
	</td>
</tr>
<tr v-bind:class="entities_tr_class('sessions')">
	<th>
		<a v-bind:href="href_entities('sessions')" target="middleFrame">
			Sessions
		</a>
	</th>
	<td>
		<a v-bind:href="href_entities('sessions')" target="middleFrame">
			{{ ok_or_error(sessions.total, sessions.error) }}
		</a>
	</td>
</tr>
<!--
<tr v-bind:class="entities_tr_class('logLines')">
	<th>
		<a v-bind:href="href_entities('logLines')" target="middleFrame">
			Log lines
		</a>
	</th>
	<td>
		<a v-bind:href="href_entities('logLines')" target="middleFrame">
			{{ ok_or_error(logLines.total, logLines.error) }}
		</a>
	</td>
</tr>
-->
</tbody>
</table>

</div> <!-- end of: #div-body -->

<script src="../../js/framework.js"></script>
<script src="../../js/menu.js"></script>

</body>
</html>
